<h1 class="center"> Add New User </h1>
<hr>
<div class="container">
  <div id="user-form">
    <div class="container">
      <form class="post-user">
        <input id="first-name" type="text" placeholder="First Name">
        <input id="last-name" type="text" placeholder="Last Name">
        <input id="phone-number" type="text" placeholder="Phone Number">
        <input id="create-user" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
